.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 400px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input[type="email"],
input[type="text"],
input[type="password"],
button[type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-Bold.woff2') format('woff2'),
        url('Futura-Bold.woff') format('woff'),
        url('Futura-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Bk';
    src: url('Futura-Book.woff2') format('woff2'),
        url('Futura-Book.woff') format('woff'),
        url('Futura-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'a_FuturaRound';
    src: url('AFuturaRound.woff2') format('woff2'),
        url('AFuturaRound.woff') format('woff'),
        url('AFuturaRound.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
